html, body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    height: 100%;
    padding: 0;
    margin: 0;
}

main {
    height: 100%;
}
  
section {
    display: flex;
    height: 100%;
}

section div {
    width: 50%;
    flex-grow: 1;
    padding: 100px;
}

h1 {
    font-size: 72px;
    letter-spacing: 1px;
}

h2 {
    font-size: 48px;
    font-weight: lighter;
}

#search {
    background-image: linear-gradient(#2ea5dd, #ffdd00);
    color: white;
}

input {
    display: block;
    width: 75%;
    margin-top: 50px;
    border: none;
    outline: none;
    color: white;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    background-color: transparent;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
}

::placeholder {
    color: white;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
}

#submit {
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    letter-spacing: 1px;
    font-family: 'Barlow', sans-serif;
    padding: 10px;
    cursor: pointer;
}

#history {
    padding: 0;
    margin-top: 100px;
    width: 100%;
    text-align: left;
}

#history h3 {
    display: inline;
}

#city-buttons {
    padding: 0;
    padding-top: 20px;
    text-align: left;
    width: 100%;
}

#city-buttons button {
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    letter-spacing: 1px;
    font-family: 'Barlow', sans-serif;
    padding: 10px;
    cursor: pointer;
}

#clear-cities {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

footer p {
    margin: 0;
    margin-right: 100px;
    display: inline;
}

#forecast div {
    padding: 0;
}

#current-forecast {
    /* background-color: pink; */
    height: 50%;
    width: 100%;
    text-align: center;
}

#current-forecast div {
    width: 100%;
}

#city-name {
    padding: 0;
}

#date {
    font-size: 28px;
    padding: 0;
    margin: 0;
}

#weather-data {
    display: flex;
}

#weather-data h3 {
    font-size: 36px;
    font-weight: lighter;
}

#city-temp, #wind-speed, #humidity, #uv-index {
    width: 25%;
}

#five-day {
    /* background-color: red; */
    height: 50%;
    width: 100%;
}

#five-day div {
    display: inline-block;
    width: 20%;
    text-align: center;
}